.h-full
  multiple-selected-notes-panel.h-full(
    application='self.application'
    app-state='self.appState'
    ng-if='self.state.showMultipleSelectedNotes'
  )
  .flex-grow.h-full(
    ng-if='!self.state.showMultipleSelectedNotes'
    ng-repeat='editor in self.editors'
  )
    editor-view(
      application='self.application'
      editor='editor'
    )
