#tags-column.sn-component.section.tags(aria-label='Tags')
  .component-view-container(ng-if='self.state.componentViewer')
    component-view.component-view(
      component-viewer='self.state.componentViewer',
      application='self.application'
      app-state='self.appState'
      )
  #tags-content.content(ng-if='!(self.state.componentViewer)')
    .tags-title-section.section-title-bar
      .section-title-bar-header
        .sk-h3.title
          span.sk-bold Views
        .sk-button.sk-secondary-contrast.wide(
          ng-click='self.clickedAddNewTag()',
          title='Create a new tag'
          )
          .sk-label
            i.icon.ion-plus.add-button
    .scrollable
      .infinite-scroll
        .tag(
          ng-class="{'selected' : self.state.selectedTag == tag, 'faded' : !tag.isAllTag}",
          ng-click='self.selectTag(tag)',
          ng-repeat='tag in self.state.smartTags track by tag.uuid'
          )
          .tag-info
            .title(ng-if="!tag.errorDecrypting") {{tag.title}}
            .count(ng-show='tag.isAllTag') {{self.state.noteCounts[tag.uuid]}}
          .danger.small-text.font-bold(ng-show='tag.conflictOf') Conflicted Copy
          .danger.small-text.font-bold(ng-show='tag.errorDecrypting && !tag.waitingForKey') Missing Keys
          .info.small-text.font-bold(ng-show='tag.errorDecrypting && tag.waitingForKey') Waiting For Keys
        tags-section(
          application='self.application',
          app-state='self.appState'
        )
  panel-resizer(
    collapsable='true',
    control='self.panelPuppet',
    default-width='150',
    hoverable='true',
    on-resize-finish='self.onPanelResize',
    panel-id="'tags-column'"
    )
