.sn-component
  .sk-menu-panel.dropdown-menu
    a.no-decoration(
      href='https://standardnotes.org/extensions', 
      ng-if='self.state.extensions.length == 0', 
      rel='noopener', 
      target='blank'
      )
      menu-row(label="'Download Actions'")
    div(ng-repeat='extension in self.state.extensions track by extension.uuid')
      .sk-menu-panel-header(
        ng-click='self.updateExtension(extension, { hidden: !extension.hidden }); $event.stopPropagation();'
        )
        .sk-menu-panel-column
          .sk-menu-panel-header-title {{extension.name}}
          div(ng-if='extension.hidden') …
        div(ng-if='extension.loading')
          .sk-spinner.small.loading
      menu-row(
        action='self.executeAction(action, extension)', 
        label='action.label', 
        ng-if='!extension.hidden && !extension.loading', 
        ng-repeat='action in extension.actionsWithContextForItem(self.item) track by $index', 
        disabled='action.running'
        spinner-class="action.running ? 'info' : null", 
        sub-rows='action.subrows', 
        subtitle='action.desc'
        )
        .sk-sublabel(ng-if="action.access_type")
          | Uses 
          strong {{action.access_type}}
          |  access to this note.
      menu-row(
        faded='true', 
        label="'No Actions Available'", 
        ng-if='extension.actionsWithContextForItem(self.item).length === 0'
        )
