.sk-modal-background(ng-click="ctrl.dismiss()")
.sk-modal-content(
  ng-attr-id="component-content-outer-{{ctrl.component.uuid}}"
  )
  .sn-component
    .sk-panel(
      ng-attr-id="component-content-inner-{{ctrl.component.uuid}}"
      )
      .sk-panel-header
        .sk-panel-header-title
          | {{ctrl.component.name}}
        a.sk-a.info.close-button(ng-click="ctrl.dismiss()") Close
      component-view.component-view(
        ng-if='ctrl.component.active'
        component-uuid="ctrl.component.uuid",
        application='ctrl.application'
        )
