.sn-component
  .sk-menu-panel.dropdown-menu
    .sk-menu-panel-section
      .sk-menu-panel-header
        .sk-menu-panel-header-title Note Editor
      menu-row(
        action='self.selectComponent(null)',
        circle="!self.selectedEditorUuid && 'success'",
        label="'Plain Editor'"
        )
      menu-row(
        ng-repeat='editor in self.state.editors track by editor.uuid'
        action='self.selectComponent(editor)',
        circle="self.isEditorSelected(editor) && 'success'",
        label='editor.name',
        subtitle="self.isEditorSelected(editor) && 'Version ' + editor.package_info.version",
        )
        .sk-menu-panel-column(
          ng-if='editor.conflictOf'
          )
          .info(
            ng-if='editor.conflictOf'
            ) Conflicted copy
      a.no-decoration(
        href='https://standardnotes.com/plans',
        ng-if='self.state.editors.length == 0',
        rel='noopener',
        target='blank'
        )
        menu-row(label="'Download More Editors'")
