.sk-menu-panel-row.row(
  ng-attr-title='{{ctrl.desc}}',
  ng-click='ctrl.onClick($event)'
  )
  .sk-menu-panel-column
    .left
      .sk-menu-panel-column(
        ng-if=`
              ctrl.circle &&
              (!ctrl.circleAlign || ctrl.circleAlign == 'left')
              `
        )
        .sk-circle.small(ng-class='ctrl.circle')
      .sk-menu-panel-column(
        ng-class="{'faded' : ctrl.faded || ctrl.disabled}"
        )
        .sk-label(ng-class='ctrl.stylekitClass')
          | {{ctrl.label}}
        .sk-sublabel(ng-if='ctrl.subtitle')
          | {{ctrl.subtitle}}
        ng-transclude
    .sk-menu-panel-subrows(ng-if='ctrl.subRows && ctrl.subRows.length > 0')
      menu-row(
        ng-repeat='row in ctrl.subRows',
        action='row.onClick()',
        label='row.label',
        spinner-class='row.spinnerClass',
        subtitle='row.subtitle'
        )
  .sk-menu-panel-column(ng-if="ctrl.circle && ctrl.circleAlign == 'right'")
    .sk-circle.small(ng-class='ctrl.circle')
  .sk-menu-panel-column(ng-if='ctrl.hasButton')
    button.sn-button.small(
      ng-class='ctrl.buttonClass',
      ng-click='ctrl.clickAccessoryButton($event)'
    ) {{ctrl.buttonText}}
  .sk-menu-panel-column(ng-if='ctrl.spinnerClass')
    .sk-spinner.small(ng-class='ctrl.spinnerClass')
