.sn-component
  #password-wizard.sk-modal.small.auto-height
    .sk-modal-background
    .sk-modal-content
      .sn-component
        .sk-panel
          .sk-panel-header
            .sk-panel-header-title {{ctrl.state.title}}
            a.sk-a.info.close-button(ng-click='ctrl.dismiss()') Close
          .sk-panel-content
            .sk-panel-section(ng-if='ctrl.state.step == 1')
              .sk-panel-row
                .sk-panel-column.stretch
                  form.sk-panel-form
                    input.sk-input.contrast(
                      ng-model='ctrl.state.formData.currentPassword', 
                      placeholder='Current Password', 
                      should-focus='true', 
                      sn-autofocus='true', 
                      type='password'
                      )
                    input.sk-input.contrast(
                      ng-if='ctrl.props.changePassword', 
                      ng-model='ctrl.state.formData.newPassword', 
                      placeholder='New Password', 
                      type='password'
                      )
                    input.sk-input.contrast(
                      ng-if='ctrl.props.changePassword', 
                      ng-model='ctrl.state.formData.newPasswordConfirmation',
                      placeholder='Confirm New Password', 
                      type='password'
                      )
            .sk-panel-section(ng-if='ctrl.state.step == 2')
              div(ng-if='ctrl.props.changePassword')
                p.sk-p.sk-panel-row.info-i Your password has been successfully changed.
              div(ng-if='ctrl.props.securityUpdate')
                p.sk-p.sk-panel-row.info-i
                  | The account update has been successfully applied to your account.
              p.sk-p.sk-panel-row
                | Please ensure you are running the latest version of Standard Notes 
                | on all platforms to ensure maximum compatibility.
          .sk-panel-footer
            .empty
            a.sk-a.info.right(
              ng-click='ctrl.nextStep()', 
              ng-disabled='ctrl.state.lockContinue')
              .sk-spinner.small.inline.info.mr-5(ng-if='ctrl.state.showSpinner')
              | {{ctrl.state.continueTitle}}
