.sn-component
  #password-wizard.sk-modal.small.auto-height
    .sk-modal-background
    .sk-modal-content
      .sn-component
        .sk-panel
          .sk-panel-header
            .sk-panel-header-title {{ctrl.title}}
            a.sk-a.info.close-button(ng-click='ctrl.dismiss()') Close
          .sk-panel-content
            div(ng-if='ctrl.step == 3')
              .sk-panel-row
                .sk-panel-column.stretch
                  form.sk-panel-form
                    input.sk-input.contrast(
                      ng-model='ctrl.formData.currentPassword', 
                      placeholder='Current Password', 
                      should-focus='true', 
                      sn-autofocus='true', 
                      type='password'
                      )
                    input.sk-input.contrast(
                      ng-if='ctrl.changePassword', 
                      ng-model='ctrl.formData.newPassword', 
                      placeholder='New Password', 
                      type='password'
                      )
                    input.sk-input.contrast(
                      ng-if='ctrl.changePassword', 
                      ng-model='ctrl.formData.newPasswordConfirmation',
                      placeholder='Confirm New Password', 
                      type='password'
                      )
            div(ng-if='ctrl.step == 5')
              div(ng-if='ctrl.changePassword')
                p.sk-p.sk-panel-row.info-i Your password has been successfully changed.
              div(ng-if='ctrl.securityUpdate')
                p.sk-p.sk-panel-row.info-i
                  | The account update has been successfully applied to your account.
              p.sk-p.sk-panel-row
                | Please ensure you are running the latest version of Standard Notes 
                | on all platforms to ensure maximum compatibility.
          .sk-panel-footer
            .empty
            a.sk-a.info.right(
              ng-class="{'disabled' : ctrl.lockContinue}", 
              ng-click='ctrl.nextStep()', 
              ng-disabled='ctrl.lockContinue')
              .sk-spinner.small.inline.info.mr-5(ng-if='ctrl.showSpinner')
              | {{ctrl.continueTitle}}
