.sn-component
  #password-wizard.sk-modal.small.auto-height
    .sk-modal-background
    .sk-modal-content
      .sn-component
        .sk-panel
          .sk-panel-header
            .sk-panel-header-title {{ctrl.state.title}}
            a.sk-a.info.close-button(ng-click='ctrl.dismiss()') Close
          .sk-panel-content
            .sk-panel-section(ng-if='ctrl.state.step == 1')
              .sk-panel-row
                .sk-panel-column.stretch
                  form.sk-panel-form
                    input.sk-input.contrast(
                      ng-model='ctrl.state.formData.currentPassword',
                      placeholder='Current Password',
                      should-focus='true',
                      sn-autofocus='true',
                      type='password'
                      )
                    .sk-panel-row
                    input.sk-input.contrast(
                      ng-if='ctrl.props.changePassword',
                      ng-model='ctrl.state.formData.newPassword',
                      placeholder='New Password',
                      type='password'
                      )
                    input.sk-input.contrast(
                      ng-if='ctrl.props.changePassword',
                      ng-model='ctrl.state.formData.newPasswordConfirmation',
                      placeholder='Confirm New Password',
                      type='password'
                      )
            .sk-panel-section(ng-if='ctrl.state.step == 2')
              .sk-label.sk-bold.info(ng-if='ctrl.props.changePassword')
                | Your password has been successfully changed.
              p.sk-p.info-i(ng-if='ctrl.props.securityUpdate')
                | The account update has been successfully applied to your account.
              p.sk-p
                | Please ensure you are running the latest version of Standard Notes
                | on all platforms to ensure maximum compatibility.
          .sk-panel-footer
            button.sn-button.small.info(
              ng-click='ctrl.nextStep()',
              ng-disabled='ctrl.state.lockContinue'
            ) {{ctrl.state.continueTitle}}
