#session-history-menu.sn-component
  .sk-menu-panel.dropdown-menu
    .sk-menu-panel-header
      .sk-menu-panel-header-title {{ctrl.history.entries.length || 'No'}} revisions
      a.sk-a.info.sk-h5(
        ng-click='ctrl.showOptions = !ctrl.showOptions; $event.stopPropagation();'
        ) Options
    div(ng-if='ctrl.showOptions')
      menu-row(
        action='ctrl.clearItemHistory()' 
        label="'Clear note local history'"
        )
      menu-row(
        action='ctrl.clearAllHistory()' 
        label="'Clear all local history'"
        )
      menu-row(
        action='ctrl.toggleAutoOptimize()' 
        label="(ctrl.autoOptimize ? 'Disable' : 'Enable') + ' auto cleanup'")
        .sk-sublabel
          | Automatically cleans up small revisions to conserve space.
      menu-row(
        action='ctrl.toggleDiskSaving()' 
        label="(ctrl.diskEnabled ? 'Disable' : 'Enable') + ' saving history to disk'"
        )
        .sk-sublabel
          | Saving to disk is not recommended. Decreases performance and increases app 
          | loading time and memory footprint.
    menu-row(
      ng-repeat='revision in ctrl.entries'
      action='ctrl.openRevision(revision);' 
      label='revision.previewTitle()' 
      )
      .sk-sublabel.opaque(ng-class='ctrl.classForRevision(revision)')
        | {{revision.previewSubTitle()}}
