<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link rel="canonical" href="<%= ENV['APP_HOST'] %>" />

    <link href="favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"></link>
    <link href="favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"></link>
    <link href="favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"></link>
    <link href="manifest.webmanifest" rel="manifest"></link>

    <link color="#5bbad5" href="favicon/safari-pinned-tab.svg" rel="mask-icon"></link>
    <meta name="theme-color" content="#ffffff">

    <meta ng-bind="title" content="Standard Notes" name="apple-mobile-web-app-title"/>
    <meta ng-bind="title" content="Standard Notes" name="application-name"/>
    <base href="/"></base>

    <title>Notes · Standard Notes</title>
    <meta name="description" content="Standard Notes is a basic notes app that delivers only the essentials in note taking. Because of its simplicity and resistance to growth, users can count on durability and convenience."/>

    <meta name="twitter:title" content="Standard Notes, a private and secure notes app."/>
    <meta name="twitter:description" content="Standard Notes is a basic notes app that delivers only the essentials in note taking. Because of its simplicity and resistance to growth, users can count on durability and convenience."/>
    <meta name="twitter:site" content="@standardnotes"/>
    <meta name="twitter:card" content="summary"/>

    <meta name="og:title" content="Standard Notes, a private and secure notes app."/>
    <meta name="og:description" content="Standard Notes is a basic notes app that delivers only the essentials in note taking. Because of its simplicity and resistance to growth, users can count on durability and convenience."/>

    <script>
      window._default_sync_server = "<%= ENV['SF_DEFAULT_SERVER'] %>";
      window._bugsnag_api_key = "<%= ENV['BUGSNAG_API_KEY'] %>";
      window._enable_unfinished_features = "<%= ENV['ENABLE_UNFINISHED_FEATURES'] %>" === 'true';
      window._websocket_url = "<%= ENV['WEBSOCKET_URL'] %>";
      window._purchase_url = "<%= ENV['PURCHASE_URL'] %>";
      window._dashboard_url = "<%= ENV['DASHBOARD_URL'] %>";
    </script>

    <% if Rails.env.development? %>
      <%= javascript_include_tag "javascripts/app.js", debug: true %>
    <% else %>
      <%= javascript_include_tag "javascripts/app.js", debug: false %>
    <% end %>
    <%= stylesheet_link_tag "stylesheets/app.css", media: "all", debug: false %>

  </head>

  <body>
     <application-group-view />
  </body>

</html>
