.main-ui-view(
    ng-class='platform'
  )
  lock-screen(
      ng-if='needsUnlock', 
      on-success='onSuccessfulUnlock'
    )
  #app.app(
      ng-class='appClass', 
      ng-if='!needsUnlock'
    )
    tags-panel
    notes-panel
    editor-panel

  footer(
      ng-if='!needsUnlock'
    )
