.main-ui-view(
  ng-class='self.platformString'
  ng-if='self.state.ready'
)
  lock-screen(
    ng-if='self.state.needsUnlock'
    on-value='self.state.onLockscreenValue',
    puppet='self.lockScreenPuppet'
    )
  #app.app(
    ng-class='self.state.appClass', 
    ng-if='!self.state.needsUnlock'
    )
    tags-panel
    notes-panel
    editor-panel

  footer(
    ng-if='!self.state.needsUnlock'
    )
